<?xml version="1.0"?>
<config>
    <modules>
        <EW_UntranslatedStrings>
            <version>1.0.1</version>
        </EW_UntranslatedStrings>
    </modules>
    <global>
        <blocks>
            <ew_untranslatedstrings>
                <class>EW_UntranslatedStrings_Block</class>
            </ew_untranslatedstrings>
        </blocks>
        <helpers>
            <ew_untranslatedstrings>
                <class>EW_UntranslatedStrings_Helper</class>
            </ew_untranslatedstrings>
        </helpers>
        <models>
            <ew_untranslatedstrings>
                <class>EW_UntranslatedStrings_Model</class>
                <resourceModel>ew_untranslatedstrings_resource</resourceModel>
            </ew_untranslatedstrings>
            <ew_untranslatedstrings_resource>
                <class>EW_UntranslatedStrings_Model_Resource</class>
                <entities>
                    <string>
                        <table>ew_untranslatedstrings_strings</table>
                    </string>
                </entities>
            </ew_untranslatedstrings_resource>

            <core>
                <rewrite>
                    <translate>EW_UntranslatedStrings_Model_Core_Translate</translate>
                </rewrite>
            </core>
        </models>
        <resources>
            <ew_untranslatedstrings_setup>
                <setup>
                    <module>EW_UntranslatedStrings</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </ew_untranslatedstrings_setup>
        </resources>

        <events>
            <controller_front_send_response_after>
                <observers>
                    <ew_untranslatedstrings>
                        <class>ew_untranslatedstrings/observer</class>
                        <method>flushUntranslatedStrings</method>
                    </ew_untranslatedstrings>
                </observers>
            </controller_front_send_response_after>
        </events>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ew_untranslatedstrings before="Mage_Adminhtml">EW_UntranslatedStrings_Adminhtml</ew_untranslatedstrings>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <ew_untranslatedstrings>
                    <file>ew_untranslatedstrings.xml</file>
                </ew_untranslatedstrings>
            </updates>
        </layout>
    </adminhtml>

    <default>
        <dev>
            <translate>
                <untranslated_strings_enabled>0</untranslated_strings_enabled>
                <untranslated_strings_ignore_admin>1</untranslated_strings_ignore_admin>
                <untranslated_strings_batch_locales_enabled>0</untranslated_strings_batch_locales_enabled>
            </translate>
        </dev>
    </default>
</config>